/*  Josh's Custom CSS Reset  https://www.joshwcomeau.com/css/custom-css-reset/*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#searchCityInput {
  flex-grow: 1;
  margin: 0px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 8px;
}

#searchCityBtn {
  margin: 0px;
  border: 1px solid orange;
  border-radius: 8px;
  padding: 8px 16px;
  color: white;
  background-color: orange;
  font-weight: 700;
}

#searchCityBtn:hover {
  border: 1px solid orangered;
  color: white;
  background-color: orangered;
}
